{{#extends 'base'}}

{{#block 'content'}}

<div class="container-fluid">


    <div class="container">
        <h4>Orders</h4>

         <a class="btn btn-secondary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Search
</a>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="container">
    <h3>
        Search Parameters
    </h3>
            <form method="GET">
                {{{orderSearchForm}}}
                <input type="submit" class="mb-3 mt-3 btn btn-light" value="Search" data-bs-toggle="offcanvas"/>
            </form>
        
  </div>
</div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Customer Email</th>
                        <th>Shipping Address</th>
                        <th>Total Cost (SGD)</th>
                        <th>Payment Reference</th>
                        <th>Date and Time of Order</th>
                        <th>Order Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                        <tr>
                                    <td scope="row">{{this.id}}</td>
                                    <td scope="row">{{this.user.first_name}} {{this.user.last_name}}</td>
                                    <td scope="row">{{this.user.email}}</td>
                                    <td scope="row">
                                        {{this.address.line_1}}<br>
                                        {{#if this.address.line_2}}{{this.address.line_2}}<br>{{/if}}
                                        {{this.address.country}}<br>
                                        {{#if this.address.state}}{{this.address.state}}<br>{{/if}}
                                        {{#if this.address.city}}{{this.address.city}}<br>{{/if}}
                                        {{this.address.postal_code}}
                                    </td>
                                    <td scope="row">{{divide this.cost 100}}</td>
                                    <td scope="row">{{this.payment_reference}}</td>
                                    <td scope="row">{{this.date}}</td>
                                    <td scope="row">{{this.status.name}}</td>
                                    <td scope="row">
                                        <div class="btn-group btn-group-sm">
                                            <a class="btn btn-dark btn-outline-light"
                                                href="/orders/{{this.id}}/items"><i class="bi bi-pencil-square"></i></a>
                                            <a class="btn btn-dark btn-outline-light" href="/orders/{{this.id}}/delete"><i class="bi bi-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                    {{/each}}
                </tbody>

            </table>
            
        </div>

    </div>


</div>

{{/block}}

{{/extends}}